@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

h1,
h2,
h4,
p,
header {
  text-align: center;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #00494d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

h1 {
  margin: 1em auto 0.5em;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  color: white;
  font-size: 24px;
  line-height: 140%;
}

p {
  color: white;
  font-size: 18px;
}

.answers h2 {
  text-align: left;
}

.input_div input {
  font-size: 24px;
  text-align: center;
  color: black;
  padding: 1em;
  max-width: 400px;
  height: 40px;
}

.input_div button {
  text-transform: uppercase;
  font-family: "Space Mono", Courier, monospace;
  background-color: #c5e4e7;
  font-weight: 700;
  border: none;
  color: #00494d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.input_div button:hover {
  background-color: #26c0ab;
}

.input_div {
  margin-bottom: 60px;
}

.question_details_div {
  max-width: 600px;
}

.question_number {
  text-decoration: underline;
}

.question_title {
  opacity: 0.7;
}

footer {
  border-top: 1px solid white;
  margin-top: 100px;
  opacity: 0.6;
}

h4 {
  color: white;
  margin: 0.75em auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}